<app-header></app-header>
<div class="loader" *ngIf="loader">
    <app-loader></app-loader>
</div>
<section class="container-profile" *ngIf="!loader">
    <ng-container *ngIf="!checkUserLogged">
        <p class="warn-message">Sadece giriş yapmış kullanıcılar bu alanı görüntüleyebilir</p>
    </ng-container>
    <ng-container *ngIf="checkUserLogged">
        <div class="table-container">
            <table class="mat-elevation-z8 table-custom">
                <tbody *ngFor="let item of profileData | keyvalue">
                    <tr>
                        <td>{{item.key}}</td>
                        <td>{{ item.key === 'phoneNumber' ? (item.value | phoneFormat) : item.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btn-group">
            <button mat-raised-button color="primary" routerLink="/profil/bakiyeler">Bakiyeler</button>
            <button class="btn" mat-raised-button color="accent" routerLink="/profil/acik-emirler">Açık Emirler</button>
        </div>
    </ng-container>
</section>
<app-footer></app-footer>