<app-header></app-header>
<section class="container">
    <div class="hero-content">
        <p>Atalay Sezen</p>
        <p><a href="tel:+90534 6115044">+90 534 611 50 44</a></p>
        <a target="_blank" href="https://github.com/AtalaySezen/Bitlo-Angular-Case">Github</a>
        <!--netlify linki proje bitiminde bu alana eklenecek-->
        <a target="_blank" href="netflify">Proje Linki</a>
        <!--netlify linki proje bitiminde bu alana eklenecek-->
    </div>
</section>
<app-footer></app-footer>