<section class="header">

    <mat-toolbar color="bitloHeader">
        <mat-toolbar-row>
            <a routerLink="/">
                <img src="assets/images/logos/bitlo_logo_white_@2x.webp" class="header-logo" alt="Bitlo">
            </a>
            <span class="example-spacer"></span>
            
            <button routerLink="/login" *ngIf="showLoginButton" mat-raised-button color="loginBtn">Giriş Yap</button>
            <button routerLink="/logout" *ngIf="showwLogoutButton" mat-raised-button color="warn">Çıkış Yap</button>
        </mat-toolbar-row>
    </mat-toolbar>


</section>