.container-balance {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    max-width: 1440px;
    margin: 0rem auto;

    .content-balance {
        margin-top: 2rem;
        width: 100%;
    }

    .table-container {
        overflow: auto;
        width: 100%;
        padding: 0.7rem;
    }

    .checkbox-section {
        display: flex;
        align-content: center;
        align-items: center;
        height: 60px;
    }

    .checkbox-margin {
        margin: 0 10px;
    }
}
