<app-header></app-header>
<div class="loader" *ngIf="loader">
    <app-loader></app-loader>
</div>
<section class="container">
    <div *ngIf="!loader" class="search-area">
        <div class="search-content">
            <div>
                <h2 class="table-header">Marketler</h2>
            </div>
            <input (keyup)="applyFilter($event)" [(ngModel)]="input" class="search-input" type="search">
        </div>
    </div>
    <div class="container-table" [class.none]="loader">
        <div class="table-div">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #firstSort="matSort">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> index </th>
                    <td mat-cell *matCellDef="let element"> {{element.index}} </td>
                </ng-container>

                <ng-container matColumnDef="marketCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> marketCode </th>
                    <td mat-cell *matCellDef="let element" class="cursor-pointer"
                        (click)="goMarketDetail(element.marketCode)"> {{element.marketCode}} </td>
                </ng-container>

                <ng-container matColumnDef="notionalVolume24h">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> notionalVolume24h </th>
                    <td mat-cell *matCellDef="let element"> {{element.notionalVolume24h|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="volume24h">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> volume24h </th>
                    <td mat-cell *matCellDef="let element"> {{element.volume24h|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="weightedAverage24h">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> weightedAverage24h </th>
                    <td mat-cell *matCellDef="let element"> {{element.weightedAverage24h|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="lowestQuote24h">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> lowestQuote24h </th>
                    <td mat-cell *matCellDef="let element"> {{element.lowestQuote24h|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="highestQuote24h">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> highestQuote24h </th>
                    <td mat-cell *matCellDef="let element"> {{element.highestQuote24h|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="currentQuote">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> currentQuote </th>
                    <td mat-cell *matCellDef="let element"> {{element.currentQuote|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="change24hPercent">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> change24hPercent </th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="{'red': element.change24hPercent < 0, 'green': element.change24hPercent > 0, 'black': element.change24hPercent === 0}">
                        %{{element.change24hPercent|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="change24h">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> change24h </th>
                    <td mat-cell *matCellDef="let element"> {{element.change24h|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="bid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> bid </th>
                    <td mat-cell *matCellDef="let element"> {{element.bid|number: '1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="ask">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ask </th>
                    <td mat-cell *matCellDef="let element"> {{element.ask|number: '1.2-2'}} </td>
                </ng-container>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4" translate><span translate> <span>"{{input}}"</span>
                            Aramanız ile eşleşen sonuç bulunamadı</span></td>
                </tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of datas" class="sticky left-0">
        </mat-paginator>

    </div>

    <div class="list-container" [class.none]="loader">
        <ng-container *ngIf="withoutFilterParams">
            <ul>
                <li>{{positiveChangeResult}}</li>
                <li>{{mostIncreasedMarket}}</li>
                <li>{{mostDecreasedMarket}}</li>
                <li>{{numberOfMarketsAbove10000}}</li>
                <li>{{numberOfMarketsUnder1TRY}}</li>
                <li>
                    <span>Tüm marketlerdeki fiyatların toplamının (currentQuote) aritmetik ortalaması</span>
                    {{averagePrice|number:'1.2-2'}} <span>TRY dir.</span>
                </li>
                <li><span>1 BTC = </span>{{btcToDolarResult|number:'1.2-2'}} <span>ABD dolarıdır</span></li>
            </ul>
        </ng-container>

        <ng-container *ngIf="withFilterParams">
            <div class="image-container">
                <img class="image" [src]="previewImage" alt="Bitlo">
            </div>
            <ul *ngFor="let item of this.dataSource.filteredData">
                <li>
                    {{marketCodeParams?.replace('-',' / ')}}
                </li>
                <li>
                    {{item.currentQuote|number:'1.2-2'}}
                </li>
                <li>
                    {{item.change24h|number:'1.2-2'}}
                </li>
                <li [ngClass]="{
                        'red': item.change24hPercent < '0',
                        'green': item.change24hPercent > '0',
                        'black': item.change24hPercent === '0'
                      }">
                    {{item.change24hPercent|number:'1.2-2'}}
                </li>

                <li>
                    {{item.highestQuote24h|number:'1.2-2'}}
                </li>

                <li>
                    {{item.lowestQuote24h|number:'1.2-2'}}
                </li>
                <li>
                    {{item.weightedAverage24h|number:'1.2-2'}}
                </li>
            </ul>
        </ng-container>

    </div>



</section>

<app-footer></app-footer>