footer {
    background: #0a2363;
    padding: 2rem 0;
    color: #ffffff;
    text-align: center;

    .header-footer {
        color: #ffffff;
        font-weight: 500;
        user-select: none;
        font-size: 1.3rem;
    }
    .footer-nav {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.3rem;
    }

    .footer-content {
        margin: auto;
        padding: 0 20px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
}
