.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    .hero-container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .search-area {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    .search-content {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }

    .search-input {
        font-size: 1.1rem;
        font-weight: 500;
        color: #0a2363;
        border-radius: 10px;
        padding: 0.2rem;
        width: 100%;
        max-width: 300px;
        border: 1px solid gray;
        outline: none;
        margin: 0.2rem 0;
    }

    .container-table {
        width: 100%;
        margin: 0 auto;
        overflow-x: auto;
    }

    .table-div {
        overflow: auto;
    }

    table {
        overflow: auto;
        display: block;
    }

    .list-container {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        margin: 2rem 2rem;
        padding: 2rem;
    }
    .search-result {
        font-size: 1.1rem;
    }
}
